.admin-page-container {
    padding: 10px;
    max-width: 1200px;
    max-height: 100vh;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.admin-content {
    display: flex;
    align-content: flex-start;
    justify-content: center;
}

.right-colom{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    gap: 15px;
    justify-content: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-self: flex-end;
}

